In [2]:
import pandas as pd

df = pd.read_csv('orders_raw_messy.csv')

df.head(), df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order id           26 non-null     int64
 1   customer_name      25 non-null     object
 2   email              26 non-null     object
 3   signup_date        25 non-null     object
 4   order_date         26 non-null     object
 5   product            26 non-null     object
 6   quantity           26 non-null     object
 7   price_eur          26 non-null     object
 8   total              10 non-null     object
 9   country            25 non-null     object
 10  city               25 non-null     object
 11  status             26 non-null     object
 12  phone              8 non-null      object
 13  postal_code        23 non-null     object
 14  newsletter_opt_in  22 non-null     object
 15  notes              11 non-null     object
dtypes: int64(1), object(15)
memory usage: 3.4+ KB

(   order id      customer_name                     email signup_date  \
 0      1001         Ana Silva      ana.silva@example.com  2024-01-05
 1      1002       JOÃO PEREIRA  joao.pereira(at)mail.com  05-01-2024
 2      1003       maria  souza   maria.souza@example.com  2023/12/30
 3      1004  carlos     santos     carlos.santos@example    31/12/23
 4      1005              Luiza         luiza@example.com         NaN

    order_date      product quantity price_eur     total   country       city  \
 0  05/02/2025   Headphones        2    €49,99       NaN  Portugal     lisboa
 1  2025/02/06   headphones        1    €49.99    €49.99        PT     Lisboa
 2  07-02-2025  Smart Watch    three   €129,90       NaN    Brasil  São Paulo
 3  2025-02-08  SMART WATCH        2  129,90 €  259,80 €        BR  sao paulo
 4    09/02/25        Mouse       4     €19,90       NaN   Ireland     Dublin

       status                phone postal_code newsletter_opt_in  \
 0    Pending     +351 912 345 678    1100-123               Yes
 1    Shipped         351912345679    1100 123              TRUE
 2  Delivered       (11)91234-5678   01001-000                no
 3  delivered                  NaN         NaN               NaN
 4      PEND.  +353 (0)83 123 4567     D02X285                 1

                                             notes
 0                    entregar no período da manhã
 1                                             NaN
 2  cliente pediu embalagem para presente, urgente
 3                                               —
 4                              Leave at reception  ,
 None)

In [15]:
df.columns = (df.columns.str.strip())
df.columns = (df.columns.str.lower())
df.columns = (df.columns.str.replace(r"\s+", "_", regex=True))

df.columns

Index(['order_id', 'customer_name', 'email', 'signup_date', 'order_date',
       'product', 'quantity', 'price_eur', 'total', 'country', 'city',
       'status', 'phone', 'postal_code', 'newsletter_opt_in', 'notes'],
      dtype='object')