In [3]:
def validate_age(func):
    def wrapper(age):
        if age < 18:
            return "Too young"
        return func(age)
    return wrapper

@validate_age
def vote(age):
    return "Eligible to vote"

print(vote(16))
print(vote(20))

Too young
Eligible to vote

In [16]:
from datetime import datetime
month = datetime.strptime('2025-08-12', '%Y-%m-%d')
print(month.strftime('%B'))

August

In [30]:
import pandas as pd

data = {'order_date': ['2025-08-12', '2024-11-03', '2023-05-20']}
df = pd.DataFrame(data)

In [31]:
df

   order_date
0  2025-08-12
1  2024-11-03
2  2023-05-20

In [33]:
df['order_date'] = pd.to_datetime(df['order_date'])
df['order_date']

0   2025-08-12
1   2024-11-03
2   2023-05-20
Name: order_date, dtype: datetime64[ns]

In [2]:
import pandas as pd

data = {'order_date': ['2025-08-12', '2024-11-03', '2023-05-20', '2025-01-15', '2024-02-28', '2023-12-05', '2025-06-30', '2024-09-10', '2023-03-25', '2025-10-01', '2024-07-19', '2023-01-07', '2025-04-22', '2024-05-14', '2023-09-30']}
df = pd.DataFrame(data)
df['order_date'] = pd.to_datetime(df['order_date'])
df['order_year'] = df['order_date'].dt.year
print(df)

   order_date  order_year
0  2025-08-12        2025
1  2024-11-03        2024
2  2023-05-20        2023
3  2025-01-15        2025
4  2024-02-28        2024
5  2023-12-05        2023
6  2025-06-30        2025
7  2024-09-10        2024
8  2023-03-25        2023
9  2025-10-01        2025
10 2024-07-19        2024
11 2023-01-07        2023
12 2025-04-22        2025
13 2024-05-14        2024
14 2023-09-30        2023

In [12]:
from datetime import datetime

dt_str = '2025-01-15'
dt_obj = datetime.strptime(dt_str, '%Y-%m-%d')
print(dt_obj.strftime('%d/%b/%Y'))

15/Jan/2025

In [13]:
from datetime import datetime

agora = datetime.now()
print(f'Agora: {agora}')

Agora: 2025-10-27 17:48:05.801212

In [ ]:
print('Test 555')

In [1]:
print('test 556')

test 556

In [2]:
import pandas as pd